<h1>Apartment # <%= @apartment.id %></h1>

<p>
  <b>ID # <%= @apartment.id %> </b>
</p>

<p>
  <b>Address: <%= @apartment.address %> </b>

</p>

<p>
  <b>Rent $ <%= @apartment.rent_per_month %> </b>

</p>

<p>
  <b>Allows pets: <%= @apartment.does_allow_pets %> </b>
</p>